# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: ["main"]
    tags: v*.*.*
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Build for Windows
        run: GOOS=windows GOARCH=amd64 go build -o ./counter_win-amd64 -v .

      - name: Build for MacOS
        run: GOOS=darwin GOARCH=arm64 go build -o ./counter_mac-arm64 -v .

      - name: Test
        run: go test -v ./...

      - uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: |
            ./counter_win-amd64
            ./counter_mac-arm64
  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: binaries
      - name: List artifacts
        run: ls

      - name: Upload to Github Releases
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./counter-win_amd64
            ./counter-mac_arm64
